body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SingleDatePicker , .SingleDatePicker .SingleDatePickerInput , .SingleDatePicker .SingleDatePickerInput .DateInput
{
  width: 100% !important;
}

.SingleDatePicker .SingleDatePickerInput , .SingleDatePicker .SingleDatePickerInput .DateInput input
{

  border-radius: 10px;
  border:1px solid #ced4da ;
}

.SingleDatePicker .SingleDatePickerInput .DateInput input::placeholder
{
  color : #6c757d !important;
}
.SingleDatePicker .SingleDatePickerInput
{
  border:none

}

.react_time_range__time_range_container
{
  z-index: 0 !important;
}